# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
Dependency Injection (Springboot).txt
Spring Boot Roadmap.txt
user.management.api.doc.docx
user.management.api.pdf